<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mq_api_base" value="http://www.mapquestapi.com"/>
		<add key="consumer_key" value="AHkcSVtDLGEiNIN7P1BCt1S0WugUQIFh"/>
		<add key="consumer_secret" value="MEz7zj82El230xb1"/>
		<add key="location_base" value="16.372845,48.208339"/>
		<add key="connection_string" value="Host=192.168.178.39;Port=5432;Username=tourplanner;Password=admin;Database=TourPlanner;Timeout=5"/>
		<add key="tour_image_path" value="tours"/>
		<add key="json_export_path" value="exportedJson"/>
	</appSettings>
</configuration>